// navbar
$navbarHeight: 50px;
// sidebar
$menuText: #bfcbd9;
$menuActiveText: #fff;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #30363e;
$menuHover: lighten($menuBg, 5%);

$subMenuBg: darken($menuBg, 5%);
$subMenuHover: darken($menuBg, 10%);

$sideBarWidth: 230px;

// container
$appPadding: 10px;
$borderColor: #dedede;
$containerHeaderBorder: 1px solid $borderColor;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
