// 通用
$fontSizeBase: 14px;
$borderColor: #ebeef5;

// 导航高
$navbarHeight: 50px;
// 侧边框&菜单
$sideBarWidth: 230px;
$menuText: #bfcbd9;
$menuActiveText: #fff;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951
$menuBg: #30363e;
$menuHover: lighten($menuBg, 5%);
$subMenuBg: darken($menuBg, 5%);
$subMenuHover: darken($menuBg, 10%);

// 布局容器
$basicLayoutPadding: 24px; // 最外层容器边距
$insetLayoutPadding: 10px; // 最外层容器边距

$containerHeaderBorder: 1px solid $borderColor;
$containerHeaderPadding: 0 20px;
$containerMainPadding: 20px;



// 面板
$panelHeaderPadding: 12px 10px;
$panelBodyPadding: 10px;
$panelHeaderBackgroundColor: #fafafa;

// 共享变量给页面js
// 例 import { menuText } from '@/assets/styles/variables.scss'
:export {
  fontSizeBase: $fontSizeBase;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

/* element-ui 样式修改 */
// https://github.com/ElemeFE/element/blob/dev/packages/theme-chalk/src/common/var.scss
/* 改变字体大小 */
$--color-primary: #409EFF !default;
$--font-size-base: $fontSizeBase !default;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
