// 通用
$fontSizeBase: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$borderColor: #ebeef5;
$colorPrimary: #409eff;
$colorSuccess: #67c23a;
$colorWarning: #e6a23c;
$colorDanger: #f56c6c;
$colorInfo: #909399;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorTextPrimary: #303133;
$colorTextSecondary: #909399;
$colorTextBase: #666;

// 导航高
$navbarHeight: 50px;
// 侧边框&菜单
$sideBarWidth: 230px;
$menuText: #bfcbd9;
$menuActiveText: #fff;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951
$menuBg: #30363e;
$menuHover: lighten($menuBg, 5%);
$subMenuBg: darken($menuBg, 5%);
$subMenuHover: darken($menuBg, 10%);

// 布局容器
$basicLayoutPadding: 24px; // 最外层容器边距
$insetLayoutPadding: 10px; // 最外层容器边距

$containerHeaderBorder: 1px solid $borderColor;
$containerHeaderPadding: 14px 20px;
$containerMainPadding: 20px;

// 面板容器
$panelHeaderPadding: 0px 10px;
$panelHeaderHeight: 46px;
$panelBodyPadding: 10px;
$panelHeaderBackgroundColor: #fafafa;

// 工具栏
$toolbarPadding: 0px 10px;
$toolbarHeight: 48px;

// 卡片
$cardHeaderPadding: 0px 10px;
$cardHeaderHeight: 40px;
$cardBodyPadding: 5px 10px;

/* element-ui 样式修改 */
// https://github.com/ElemeFE/element/blob/dev/packages/theme-chalk/src/common/var.scss

$--color-primary: $colorPrimary !default;
$--color-success: $colorSuccess !default;
$--color-warning: $colorWarning !default;
$--color-danger: $colorDanger !default;
$--color-info: $colorInfo !default;
$--color-white: $colorWhite !default;
$--color-black: $colorBlack !default;
$--color-text-primary: $colorTextPrimary !default;

$--font-size-base: $fontSizeBase !default;
$--color-text-secondary: $colorTextSecondary !default;
$--font-size-extra-large: 20px !default;
$--font-size-large: $fontSizeLarge !default;
$--font-size-medium: $fontSizeMedium !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;

$--input-medium-font-size: 14px !default;
$--input-medium-height: 36px !default;
$--input-small-font-size: 13px !default;
$--input-small-height: 32px !default;
$--input-mini-font-size: 12px !default;
$--input-mini-height: 28px !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// 共享变量给页面js
// 例 import { menuText } from '@/assets/styles/variables.scss'
:export {
  fontSizeBase: $fontSizeBase;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
